#charBox {
  height: 100px;
  width: 100px;
  text-align: center;
  font-size: 75px;
  border: 2px solid #000000;
  background-color: grey;
}

#progressBox {
    width: 100%;
    background-color: grey;
}
#progressBar {
    width: 1%;
    height: 30px;
    background-color: green;
}
